html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    display:flex;
    min-height:100vh;
    align-items: center;
    justify-content: center;
  }
  
  .player {
    display:flex;
    max-width: 1280px;
    width:100%;
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    margin: 0 auto;
    width:100%;
    
  }
  
  
  .player__controls {
    display:inline;
    position: absolute;
    left: 0;
    bottom:2%;
    width: 100%;
    flex-wrap:wrap;
    color: #fff;
    z-index: 2147483648; 
    /* This is ridiculous so that it overrides the shadow 
    dom and shows the custom player in full screen mode instead */
  }
  
    
  
  .player__controls > * {
    flex:1;
    width: 8%;
    position: absolute;
    margin: auto 0px;
    bottom: 5%;
  }
  

  
  .fullscreen-btn { 
    left: 89%;
  
  }

  .toggle{
    left: 17%;
  }
  .exit{
    left: 2%;
  }

  .next-chapter{
    left: 24%;
  }

  .previous-chapter{
    left: 10%;
  }
  
  
  video::-webkit-media-controls {
    /*display:none !important;*/
    *display:none !important;
  }
  

/*amanda items start here*/

@keyframes fadein {
    from {opacity: 0%; }
    to {opacity: 100%; }
  }

img{
    display: inline;
    width: 100%;
}
.player .hidden {
  display: none;
}


.watch-button{
   display: inline;
   z-index: 50;
   animation-name: fadein;
   animation-duration: 1s;
   animation-delay: 2.4s;
   animation-fill-mode: both;
}

.c-buttons,
.g-buttons,
.i-buttons,
.b-buttons{
   display: inline;
   z-index: 50;
   animation-name: fadein;
   animation-duration: 0.5s;
   animation-fill-mode: both;

}

.btn-edasi{
  position: absolute;
  bottom: 19%;
  left: 75%;
}

/*part C*/
.btn-kasema{
  position: absolute;
  bottom: 66%;
  left: 32%;
}

.btn-millalkoju{
  position: absolute;
  bottom: 84%;
  left: 62%;
}

.btn-ema{
  position: absolute;
  bottom: 50%;
  left: 70%;
}
/*part B*/
.btn-haigla6de{
  position: absolute;
  bottom: 50%;
  left: 37%;
}
.btn-kasvalus,
.btn-kaalumine{
  position: absolute;
  bottom: 27%;
  left: 17%;
}

.btn-m2ngunurk{
  position: absolute;
  bottom: 52%;
  left: 83%;
}

/*part G*/

.btn-valgustid {
  position: absolute;
  bottom: 87%;
  left: 67%;
}

.btn-opiode {
  position: absolute;
  bottom: 52%;
  left: 33%;
}

.btn-narkoosiaparatuur {
  position: absolute;
  bottom: 52%;
  left: 73%;
}

.btn-telekas {
  position: absolute;
  bottom: 79%;
  left: 18%;
}

.btn-opilaud {
  position: absolute;
  bottom: 33%;
  left: 48%;
}

.btn-narkoosi6de {
  position: absolute;
  bottom: 51%;
  left: 90%;
}

/*part I*/


.btn-monitorid {
  position: absolute;
  bottom: 82%;
  left: 40%;
}

.btn-opiema {
  position: absolute;
  bottom: 52%;
  left: 13%;
}

.btn-vererohk {
  position: absolute;
  bottom: 26%;
  left: 33%;
}

.btn-ekg {
  position: absolute;
  bottom: 25%;
  left: 47%;
}

.btn-pulssoksymeeter {
  position: absolute;
  bottom: 2%;
  left: 73%;
}

.btn-kanyyl {
  position: absolute;
  bottom: 13%;
  left: 66%;
}

/*Magifier general*/

.luup{
  width: 5%;
  margin: 0 auto;
}

.t-bottom{
  bottom: -80%;
  left: 30%;
}

.t-bottom-left{
  bottom: -80%;
  left: -70%;
}

.t-top{
  bottom: 110%;
  left:0%;
}

.t-top-left{
  bottom: 110%;
  left: -110%;
}
.infotext-bigger,
.infotext-biggest,
.infotext{
  position: absolute;
  transition: transform 150ms ease-out;
  transform-origin: center;
}

.luup:hover .infotext{
  cursor: pointer;
  transform: scale(4);
  z-index: 60;
  
}

.luup:hover .infotext-bigger{
  cursor: pointer;
  transform: scale(5);
  
}

.luup:hover .infotext-biggest{
  cursor: pointer;
  transform: scale(6);
  
}
.luup .infotext-bigger,
.luup .infotext-biggest,
.luup .infotext{
  transform: scale(0);
}


/*video controls*/
.btn:active .btn-down{
    display: inline;
}
.btn:active .btn-up {
    display: none;
    
}

.btn{
  cursor: pointer;
}


 /*development*/

 .video-overlay{
   opacity: 50%;
   position: absolute;
   width: 100%;
   z-index: 20;
 }
