html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    display:flex;
    min-height:100vh;
    align-items: center;
    justify-content: center;
  }
  
  .player {
    display:flex;
    max-width: 1280px;
    width:100%;
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    margin: 0 auto;
    width:100%;
    
  }
  
  
  .player__controls {
    display:inline;
    position: absolute;
    left: 0;
    bottom:2%;
    width: 100%;
    flex-wrap:wrap;
    color: #fff;
    z-index: 2147483648; 
    /* This is ridiculous so that it overrides the shadow 
    dom and shows the custom player in full screen mode instead */
  }
  
    
  
  .player__controls > * {
    flex:1;
    width: 9%;
    position: absolute;
    margin: auto 0px;
    bottom: 5%;
  }
  

  
  .fullscreen-btn { 
    left: 90%;
  
  }

  .toggle{
    left: 15%;
  }
  .exit{
    left: 1%;
  }

  .next-chapter{
    left: 22%;
  }

  .previous-chapter{
    left: 8%;
  }
  
  
  video::-webkit-media-controls {
    display:none !important;
  }
  

/*amanda items start here*/

@keyframes fadein {
    from {opacity: 0%; }
    to {opacity: 100%; }
  }


.watch-button{
   display: inline;
   position: absolute;
   bottom: 23%;
   left: 75%;
   z-index: 50;
   animation-name: fadein;
   animation-duration: 1s;
   animation-delay: 2.4s;
   animation-fill-mode: both;
}

.b-buttons{
   display: inline;
   position: absolute;
   bottom: 23%;
   left: 75%;
   z-index: 50;
   animation-name: fadein;
   animation-duration: 0.5s;
   animation-fill-mode: both;

}

.btn-ema{
  
}

.luup:hover .infotext{
  position:absolute;
  display: inline;
  left: 35%;
  top: 60%;
}

.luup .infotext{
  display: none;
}


img{
    display: inline;
    width: 100%;
}
.exit:hover .btn-down,
.next-chapter:hover .btn-down,
.previous-chapter:hover .btn-down,
.toggle:hover .btn-down,
.fullscreen-btn:hover .btn-down,
.watch-button:hover .btn-down{
    display: inline;
    cursor: pointer;
}
.exit:hover .btn-up,
.next-chapter:hover .btn-up,
.previous-chapter:hover .btn-up,
.toggle:hover .btn-up,
.fullscreen-btn:hover .btn-up,
.watch-button:hover .btn-up {
    display: none;
    
}


 .player .hidden {
    display: none;
 }
