html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    display:flex;
    min-height:100vh;
    align-items: center;
    justify-content: center;
  }
  
  .player {
    display:flex;
    max-width: 1280px;
    width:100%;
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    margin: 0 auto;
    width:100%;
    
  }
  
  .player__button {
    background:none;
    border:0;
    line-height:1;
    color:white;
    text-align: center;
    outline:0;
    padding: 0;
    cursor:pointer;
    max-width:40px;
  }
  
  .player__button:focus {
    border-color: #ffc600;
  }
  
  .player__slider {
    width:10px;
    height:30px;
  }
  
  .player__controls {
    display:inline;
    position: absolute;
    left: 0;
    bottom:2%;
    width: 100%;
    flex-wrap:wrap;
    color: #fff;
    z-index: 2147483648; 
    /* This is ridiculous so that it overrides the shadow 
    dom and shows the custom player in full screen mode instead */
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  
  .player__controls > * {
    flex:1;
  }
  

  
  .current,
  .duration,
  .fullscreen-btn {
    max-width: 30px;
    color: #fff;
    font-size: 10px;
    margin: auto 0px;
    padding: 0 7px;
  }
  
  .fullscreen-btn {
    color: #000;
    margin: auto 6px;
    background-color: #f9f9f9;
    border-radius: 2px;
    border: 0;
  }
  
  video::-webkit-media-controls {
    display:none !important;
  }
  

/*amanda items start here*/

@keyframes fadein {
    from {opacity: 0%; }
    to {opacity: 100%; }
  }


.player .watch-button{
   display: inline;
   position: absolute;
   bottom: 23%;
   left: 75%;
   z-index: 50;
   animation-name: fadein;
   animation-duration: 1s;
   animation-delay: 2.4s;
   animation-fill-mode: both;
}


img{
    display: inline;
    width: 100%;
}

.watch-button:hover .btn-down{
    display: inline;
    cursor: pointer;
}

.watch-button:hover .btn-up {
    display: none;
    
}


 .player .hidden {
    display: none;
 }
